.purple-modal {
  background: #6a0dad;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
 
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.success-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6a0dad;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
